.title {
    text-align: center;
    font-size: 2em;
}

.search_criteria {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.catalog_table {
    min-height: 60%;
    max-height: 500px;
    width: 100%;
}

label {
    margin-left: 2rem;
}

.table {
    width: 95%;
    height: 100%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-overflow: ellipsis;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    text-align: center;
}