.checkout_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.checkout_box {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    width: 50%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
    margin: 0;
}

h3 {
    text-align: center;
}

.rules {
    font-style: italic;
}

.button_row {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.label {
    font-weight: bold;
}