.footer {
    background-color: #C5A06A;
    color: white;
}

.row {
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;
}

.footer_box {
    display: flex;
    text-align: center;
    display: inline-block;
    width: 33.33%;
}

.footer_content {
    font-size: 1rem;
    align-items: center;
}

.hours_list {
    list-style-type: none;
    text-align: center;
}

p {
    font-size: 1rem;
}

h1 {
    font-size: 2rem;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

li {
    font-size: 1rem;
}