#root, html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Home Page Main */

main {
    flex: 1;
    box-sizing: border-box;
}

.library_intro_text {
    width: 50rem;
    padding-left: 6rem;
    padding-top: 2rem;
    box-sizing: border-box;
}